doctype
html
    include head
    
    body.white-text
        include nav
        include banner

        div.all-container
            include profile
            include projects
            div.experience-parallax
                div.parallax-container
                    div.parallax
                        img(src="assets/img/mountain-2.jpg")
            include education
            div.quote
                h4 Education is an admirable thing, but it is well to remember from time to time that nothing that is worth knowing can be taught.
                i.black-text.white Oscar Wilde
            include experience
            div.quote
                h4 Experience without theory is blind, but theory without experience is mere intellectual play.
                i.black-text.white Immanuel Kant

        include footer