
//- Left banner
div(data-target="slide-out").sidenav-trigger.side-left-header.black.pointer
    <i class="fas fa-bars mainnav-icon white-text"></i> open

//- Left Sidenav
ul#slide-out.sidenav.black
    li
        div.user-view
            a(href="#text").white-text
                h4 It's me
                h6 {{ site.author }}
                br
                p.description-short {{ site.description_short }}
                br
                br

    //- li
    //-     a.btn-floating.btn-large.waves-effect-waves-light.white
    //-         <i class="fas fa-plus fa-lg sidenav-icon black-text"></i>
  
    //- li.white-text
    //-     a.subheader.white-text Section 00
    //- li 
    //-     a(href="#").white-text <i class="fas fa-plus sidenav-icon"></i> Link 00
    //- li 
    //-     a(href="#").white-text <i class="fas fa-edit sidenav-icon"></i> Link 01
    //- li 
    //-     a(href="#").white-text <i class="fas fa-check sidenav-icon"></i> Link 02
    
    //- li
    //-     a.subheader.white-text Section 01
    //- li
    //-     a(href="#").white-text <i class="fas fa-shopping-cart sidenav-icon"></i> Link 10
    //- li 
    //-     a(href="#").white-text <i class="fas fa-ticket-alt sidenav-icon"></i> Link 11


//- Right banner
div.side-right-header.black
    div
        a(href="https://twitter.com/{{site.twitter_username}}" target="blank").white-text twitter
        a(href="https://github.com/{{site.github_username}}" target="blank").white-text github
        a(href="https://instagram.com/{{site.instagram_username}}" target="blank").white-text instagram

//- Bottom banner
div.side-bottom-header.black
    div.hidden
        a(href="#education").white-text Education
        a(href="#experience").white-text Experience
        a(href="#projects").white-text Projects
        a(href="#ideas").white-text Ideas

//- Central image
img.banner-img.responsive-img(src="assets/img/mountain.jpg")
div.row.banner-container
    div.col.s2.m2
    div.col.s8.m4
        div.banner-text.black.white-text
            h1 Hi!
            p My new page is under construction. It will be finished shortly, patience!
    div.col.s2.m6

