
//- Left banner
div(data-target="slide-out").sidenav-trigger.side-left-header.black
    <i class="fas fa-bars mainnav-icon white-text"></i> open

//- Right banner
div.side-right-header.black
    div
        a(href="https://twitter.com/{{site.twitter_username}}" target="blank").white-text twitter
        a(href="https://github.com/{{site.github_username}}" target="blank").white-text github
        a(href="https://instagram.com/{{site.instagram_username}}" target="blank").white-text instagram

//- Bottom banner
div.side-bottom-header.black
    div
        a(href="#education").white-text Education
        a(href="#experience").white-text Experience
        a(href="#projects").white-text Projects
        a(href="#ideas").white-text Ideas

//- Central image
img.banner-img.responsive-img(src="assets/img/mountain.jpg")
div.row.banner-container
    div.col.s2.m2
    div.col.s8.m4
        div.banner-text.black.white-text
            h1 Hi!
            p My new page is under construction. It will be finished shortly, patience!
    div.col.s2.m3
    div.col.s0.m3

