//- First top navbar
div.navbar-fixed
    nav
        div.nav-wrapper.black
            a.sidenav-trigger(href="mailto:{{site.email}}" target="blank").clickable
                span {{site.email}}
            ul#nav-mobile.left.hide-on-med-and-down
                li 
                    a(href="mailto:{{site.email}}" target="blank").clickable
                        span {{site.email}}
            ul#nav-mobile.right.hide-on-med-and-down
                li 
                    a(href="#").clickable
                        span {{site.author}}

//- Bottom banner
div.side-bottom-header.black
    div
        a(href="#education").white-text.clickable
            span Education
        a(href="#experience").white-text.clickable
            span Experience
        a(href="#projects").white-text.clickable
            span Projects
        a(href="#talk").white-text.clickable
            span Let's Talk

//- Central image
div.banner-container#home
    img(src="assets/img/mountain.jpg").responsive-img
    h1 
        span.black.white-text {Technician}
    h6
        span.black.white-text [Developer, SysAdmin]

