div.education-container#education
    h2
        span.section-title Education,
    br
    hr.l-only
    div.row
        //- div.col.m0.l2
        div.col.m12.l4
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2019-2017
                    span.card-title Film Production
                    p EMAV film school @ Barcelona. Focused in the film production process as a headway for project management and logistics, as well as technical resource administration. Finished 2019.
        div.col.m12.l4
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2017-2015
                    span.card-title Computer Science
                    p University of Buens Aires. The study of abstract concepts about Mathematics and Computer relationship. Fascinating subjects, but too abstract. Didn't finish.    
        div.col.m12.l4
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2014-2013
                    span.card-title Communication Sc.
                    p University of Saint Andrew's @ Buenos Aires. Understanding human communication, using traditional and modern communication tools. Interesting subjects, but too soft. Didn't finish.    
div.quote
    h4 Education is an admirable thing, but it is well to remember from time to time that nothing that is worth knowing can be taught.
    i.black-text.white Oscar Wilde
div.education-container
    h2
        span.section-title Self Learner
    br
    hr.l-only
    div.row
        div.col.m0.l1
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2020-2015
                    span.card-title JS
                    p Advnaced understanding of Javascript and its frameworks. Been learning all around the web, Codecademy, Coursera, and others.
                div.card-action
                    a.clickable.blue-text(href="https://www.freecodecamp.org/learn/" target="blank")
                        span link to the course
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2020-2018
                    span.card-title Ethereum
                    p Smart Contracts in Solidity, the EVM and web3.js, learned how to build an dapp. Have taken several courses on Ethereum, this is one of them:
                div.card-action
                    a.clickable.blue-text(href="https://cryptozombies.io/en/course/" target="blank")
                        span link to the course
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2020-2019
                    span.card-title Game Dev
                    p Unity with C++, basis for 2D animations and game mechanics. Several open courses, and this Udemy course by GameDev.tv.
                div.card-action
                    a.clickable.blue-text(href="https://www.udemy.com/course/unitycourse/" target="blank")
                        span link to the course
        
    hr.l-only
    div.row
        div.col.m0.l2
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2020
                    span.card-title Cryptography 01
                    p Stanfort University online course, by Dan Boneh. Everything from Simmetrical Key exchange to hash functions.
                div.card-action
                    a.clickable.blue-text(href="https://www.coursera.org/learn/crypto" target="blank")
                        span link to the course
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2018
                    span.card-title Typography 01
                    p Graphic design course based on the understanding of typography as the building block of any 2D design.
                div.card-action
                    a.clickable.blue-text(href="https://academy.thefutur.com/p/typography-01" target="blank")
                        span link to the course
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2020
                    span.card-title Waves
                    p Waves blockchain is another VM blockchain that supports smart contract building, with a different use of memory than Ethereum.
                div.card-action
                    a.clickable.blue-text(href="https://stepik.org/course/54415/promo" target="blank")
                        span link to the course