div.experience-container#experience
    h2
        span.section-title Experience
    br
    hr.l-only
    div.row
        div.col.m0.l1
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2020
                    span.card-title Freelance
                    p Various freelance projects, JS and Android focused. Including data scrapping, prototype building, API and service maintenance. Some graphic design jobs too.
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2020-2019
                    span.card-title As. Producer
                    p Everything from internal logistics to client projects. Including events and audiovisual products. Company: TheCreativeAgency. 
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2017-2015
                    span.card-title Dev Jr+
                    p Longest and strongest work experience. Worked various NodeJS frameworks, Drupal and SAP BI tools as Lumira. Company: Inlcusion Services S.A.
    hr.l-only
    div.row
        div.col.m0.l2
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2015
                    span.card-title Dev Jr.
                    p Very first job as a Dev. Worked with mySQL and Android, for a client in the sanitary sector. Company: GMS S.A.
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2014
                    span.card-title Tech. Producer
                    p Technical producer at a local radio station in Buenos Aires. Editing audio and content.
        