footer
    a.footer-container.white-text(href="mailto:{{ site.email }}")
        p Got a project?
        h3 Let's talk
    div.copyright
        | © 2020 by Ian Mihura. Photos from <a href="https://unsplash.com/">Unsplash</a>. 