footer#talk
    div.footer-container
        a.white-text(href="mailto:{{ site.email }}" target="blank")
            p Got a project?
            h3 Let's talk
    div.foot
        div.copyright
            | © 2020 by Ian Mihura. Photos from <a href="https://unsplash.com/" target="blank">Unsplash</a>.
        div.social
            span my_social_media: 
            include social