head
    title {{page.title}}

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js")
    link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet")

    script(src="assets/js/main.js")
    link(rel="stylesheet" href="assets/css/style.css")

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-166722087-1")
    script(src="{{ site.url }}/assets/js/analytics.js")
    link(rel="icon" href="{{ site.url }}/assets/img/favicon_3.png?v1")