#link-list
    .list
        ul
            li(data-id="1") hello
            li(data-id="2") how are you
            li(data-id="3") very well
            li(data-id="4") good bae

    .preview
        ul 
            li#1 hello
            li#2 how are you
            li#3 very well
            li#4 good bae
