//- Left banner
div(data-target="slide-out").sidenav-trigger.side-left-header.black.pointer
    <i class="fas fa-bars mainnav-icon white-text"></i> open

//- Left Sidenav
ul#slide-out.sidenav.black
    li
        div.user-view
            h4 It's me
            h6 {{ site.author }}
            p.description-short {{ site.description_short }}
    li
        a(href="#education").clickable
            span.white-text my_education
    li
        a(href="#experience").clickable
            span.white-text my_experience
    li
        a(href="#projects").clickable
            span.white-text my_projects
    li 
        div.divider
    li.white-text
        a.subheader
            span.white-text my_social_media:
        include social

//- Right social links
div.side-right-header.black
    div
        a(href="{{ site.instagram_link }}" target="blank").white-text.clickable
            p instagram
        a(href="{{ site.github_link }}" target="blank").white-text.clickable
            p github
        a(href="{{ site.linkedin_link }}" target="blank").white-text.clickable
            p linkedin