//- Left banner
div(data-target="slide-out").sidenav-trigger.side-left-header.black.pointer
    <i class="fas fa-bars mainnav-icon white-text"></i> open

//- Left Sidenav
ul#slide-out.sidenav.black
    li
        div.user-view
            h4 It's me
            h6 {{ site.author }}
            p.description-short {{ site.description_short }}
            br
    li
        a(href="#education").clickable
            p.white-text My Education
    li
        a(href="#experience").clickable
            p.white-text My Experience
    li 
        div.divider
    li
        a(href="mailto:{{ site.mail }}").clickable
            p.white-text Email me
    li
        a(href="https://github.com/ianmihura").clickable
            p.white-text Checkout my Github
    li
        a(href="https://instagram.com/ianmihura").clickable
            p.white-text or my Intagram!

//- Right social links
div.side-right-header.black
    div
        a(href="https://twitter.com/{{site.twitter_username}}" target="blank").white-text.clickable
            p twitter
        a(href="https://github.com/{{site.github_username}}" target="blank").white-text.clickable
            p github
        a(href="https://linkedin.com/in/{{site.linkedin_username}}" target="blank").white-text.clickable
            p linkedin