div.navbar-fixed
    nav
        div.nav-wrapper.black
            a.sidenav-trigger(href="mailto:{{site.email}}" target="blank").clickable
                span {{site.email}}
            ul#nav-mobile.left.hide-on-med-and-down
                li 
                    a(href="mailto:{{site.email}}" target="blank").clickable
                        span {{site.email}}
            ul#nav-mobile.right.hide-on-med-and-down
                li 
                    a(href="#").clickable
                        span {{site.author}}