div.profile-container#profile
    div.row
        div.col.m12.l6
            img(src="assets/img/me.jpg").responsive-img.profile-image
        div.col.m12.l6.profile-content
            h1(style="display: inline-grid;")
                span Work with
                span.section-title enthusiasm.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.profile-icons
                i.fab.fa-bitcoin
                i.fab.fa-js
                i.fab.fa-unity