div.cv
    a(href="assets/documents/cv_ian_mihura.pdf" target="blank").clickable
        h5.white-text download_cv

div.profile-container#profile
    div.row
        div.col.m12.l6.profile-image
            img(src="assets/img/me.jpg").responsive-img
        div.col.m12.l6.profile-content
            h1(style="display: inline-grid;")
                span.section-title-alt Work with
                span.section-title enthusiasm.
            i Barcelona, may 2020
            p {{ site.description }}
            div.profile-icons
                //- i.fab.fa-unity
                i.fab.fa-adobe
                i.fab.fa-js
                i.fab.fa-bitcoin