div.experience-container#projects
    h2
        span.section-title Projects
    br
    div.row
        div.col.m12.l4
            div.card.black.white-text
                div.card-content.white-text
                    i App
                    span.card-title Smart Tickets
                    p Ticketing app based in Blockchain technology. Still under developement, it aims at rethinking the way we manage ticketing in general. Made with Express-js and Waves technology.
                div.card-action
                    a.clickable.blue-text(href="https://smarttickets.herokuapp.com/" target="blank")
                        span app
        div.col.m12.l4
            div.card.black.white-text
                div.card-content.white-text
                    i Webpage
                    span.card-title Future Philosophy
                    p Future Philosophy is an interdisciplinary collective that aims at bringing the edge of philosophy debate about technology to the forefront of the industry. Webpage is made with Jekyll.
                div.card-action
                    a.clickable.blue-text(href="https://filosofiadelfuturo.com/" target="blank")
                        span web page
        div.col.m12.l4
            div.card.black.white-text
                div.card-content.white-text
                    i Code
                    span.card-title LMC-js
                    p The Little Man Computer (LMC) is an instructional model of a von Neumann architecture computer, created by Dr. Stuart Madnick. I implement this architecture in Javascript.
                div.card-action
                    a.clickable.blue-text(href="{{ site.github_link }}/LMC-js" target="blank")
                        span github repo
    //- div.row
        //- div.col.m12.l4
        //-     div.card.black.white-text
        //-         div.card-content.white-text
        //-             i Webpage & Design
        //-             span.card-title Multiplicidades
        //-             p A web page presentation for a dance festival in Torres Vedras, Portugal. Also done the digital and printed graphic designs.
        //-         div.card-action
        //-             a.clickable.blue-text(href="https://multiplicidadesfestival.com/" target="blank")
        //-                 span web page
        //- div.col.m12.l4
        //-     div.card.black.white-text
        //-         div.card-content.white-text
        //-             i Video editing & color
        //-             span.card-title Con Vos
        //-             p Videoclip for a pop song. In charge of editing, color correcting and on-site production. Worked with Premiere Pro.
        //-         div.card-action
        //-             a.clickable.blue-text(href="https://www.youtube.com/watch?v=94NqrZcrhQE" target="blank")
        //-                 span video
        //- div.col.m12.l4
        //-     div.card.black.white-text
        //-         div.card-content.white-text
        //-             i Photography
        //-             span.card-title Various projects
        //-             p My personal Instagram page is where I share my photography work. Taken with my personal Canon EOS M, corrected using Adobe Lightroom.
        //-         div.card-action
        //-             a.clickable.blue-text(href="{{ site.instagram_link }}" target="blank")
        //-                 span Instagram