ul#slide-out.sidenav.black
    li
        div.user-view
            a(href="#text").white-text
                h4 It's me
                h6 {{ site.author }}
                br
                p.description-short {{ site.description_short }}
    //- li.white-text
    //-     a.subheader.white-text Section 00
    //- li 
    //-     a(href="#").white-text <i class="fas fa-plus sidenav-icon"></i> Link 00
    //- li 
    //-     a(href="#").white-text <i class="fas fa-edit sidenav-icon"></i> Link 01
    //- li 
    //-     a(href="#").white-text <i class="fas fa-check sidenav-icon"></i> Link 02
    //- li 
    //-     div.divider
    //- li
    //-     a.subheader.white-text Section 01
    //- li
    //-     a(href="#").white-text <i class="fas fa-shopping-cart sidenav-icon"></i> Link 10
    //- li 
    //-     a(href="#").white-text <i class="fas fa-ticket-alt sidenav-icon"></i> Link 11