a.clickable(href="{{ site.github_link }}" target="blank")
    span.white-text > github; 
a.clickable(href="{{ site.linkedin_link }}" target="blank")
    span.white-text > linkedin; 
a.clickable(href="{{ site.instagram_link }}" target="blank")
    span.white-text > instagram; 