a.clickable(href="{{ site.github_link }}" target="blank")
    span.white-text github; 
a.clickable(href="{{ site.linkedin_link }}" target="blank")
    span.white-text linkedin; 
a.clickable(href="{{ site.twitter_link }}" target="blank")
    span.white-text twitter; 
a.clickable(href="{{ site.instagram_link }}" target="blank")
    span.white-text instagram; 
a.clickable(href="{{ site.youtube_link }}" target="blank")
    span.white-text youtube; 
a.clickable(href="{{ site.telegram_link }}" target="blank")
    span.white-text telegram;