// Banner, navs, sidenavs
// Top of the page things

.nav-wrapper {
    padding: 0 5em;
}

.side-left-header {
    position: fixed;
    display: flex;

    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    z-index: 10;

    svg {
        margin: 1em;
        align-self: center;
        transform: rotate(90deg);
    }
}

.side-right-header {
    position: fixed;
    display: flex;
    justify-content: center;

    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    z-index: 10;

    div {
        transform: rotate(90deg) translateZ(0);
        display: flex;
        position: absolute;
        align-self: center;
        
        align-items: center;
        z-index: 10;

        a {
            margin: 0 35px;
        }
    }
}

.side-bottom-header {
    position: absolute;
    display: flex;
    justify-content: center;
    
    left: 0;
    right: 0;
    bottom: 0;
    height: 65px;

    div a {
        display: inline-flex;
        padding: 15px 35px;
    }

    @media only screen and (max-width: 600px) { 
        display: none;
    }
}

.banner-container {
    img {
        // max-height: 90vh !important;

        @media only screen and (max-width: 600px) { 
            content:url("../img/sm-mountain.jpg");
            margin-bottom: 75px;
        }
    }

    span {
        position: absolute;
        z-index: 1;
        font-weight: 700;
        
        left: 50%;
        transform: translate(-50%, 50%);
        
        @media only screen and (max-width: 600px) { 
            font-size: 0.5em;
            padding: 0 !important;
        }
    }

    h1 span {
        top: 250px;
        padding: 20px 30px;
    }

    h6 span {
        top: 420px;
        padding: 10px 20px;
    }
}

.description-short {
    line-height: initial;
}