.iframe-container {
    padding-bottom: 66.66%;
    padding-top: 25px;
    height: 0;

    margin-bottom: 50px;
    width: 1131px;
    height: 627px;
    
    // @media only screen and (max-width: 1200px) {
    //     width: 100%;
    // }

    iframe {
        width: 1131px;
        height: 627px;
        resize: both;
        overflow: auto;
        
        // @media only screen and (max-width: 1200px) {
        //     width: 100%;
        //     overflow: scroll;
        // }
    }
}
