// Other custom formats

.profile-image {
    box-shadow: 10px 10px 0 0;
}

.profile-container {
    margin-bottom: 70px;
}

.profile-content {
    padding: 35px !important;
}

.profile-icons {
    text-align: center;

    svg {
        width: 5em !important;
        height: 5em;

        margin: 30px;
    }
}