nav {
    margin: 15px;
    border: 1.5px solid $line-color;
    border-radius: 5px;
    
    flex-direction: row;
    display: flex;

    overflow-x: scroll;
    
    a {
        padding: 10px;
    }
}