.tag-small {
    background-color: $background-color-secondary;
    padding: 2px 10px;
    border-radius: 0px 100px 100px;

    // &:hover {
    //     background-color: $selection-background-color;
    // }
}