// Profile section

.profile-container {
    margin-bottom: 70px;

    img {
        box-shadow: 10px 10px 0 0;

        @media only screen and (max-width: 600px) { 
            width: 75%;
        }
    }
}

.profile-content {
    padding: 35px !important;
}

.profile-image {
    @media only screen and (max-width: 600px) { 
        text-align: center;
    }
}

.profile-icons {
    text-align: center;

    svg {
        width: 5em !important;
        height: 5em;

        margin: 30px;
     
        @media only screen and (max-width: 600px) { 
            margin: 20px;
        }
    }
}