
// Colors
$primary-color: #9dc169;
$secondary-color: #a9dce2;

$background-color: #1a1a1a;
$background-color-secondary: #2c2c2c;
$text-color: #aaaaaa;
$text-color-dark: #6d6d6d;
$line-color: #aaaaaa;
$selection-text-color: #1d1d1d;
$selection-background-color: #c0c0c0;

// Size
$font-small: 12px;
$font-medium: 20px;
$font-large: 26px;
$font-xlarge: 30px;
