
// Colors
$primary-color: #9dc169;
$secondary-color: #a9dce2;

$background-color: #1a1a1a;
$text-color: #aaaaaa;
$line-color: #aaaaaa;
$selection-text-color: #1d1d1d;
$selection-background-color: #c0c0c0;

// Size
$font-small: 12px;
$font-medium: 16px;
$font-large: 24px;
$font-xlarge: 28px;
