body:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-attachment: fixed;
	background-color: #e1e6e1;
	background-image: url("../../images/overlay.png"), url("../../images/sbg.jpg") !important;
	background-repeat: repeat, repeat-x;
	background-size: 128px 128px, cover;
}

.invisible {
	display: none;
}

.panel > *.color0 {
	background-image: url("../../images/overlay.png"), linear-gradient(45deg, #000000 5%, #231b1b 60%, #18202d);
	background-size: 128px 128px, auto;
}

.panel.color0 {
	background-image: url("../../images/overlay.png"), linear-gradient(45deg, #859dc1 5%, #4e4b51 60%, #36333a);
	background-size: 128px 128px, auto;
}