<html lang="en">
    {% include head.html %}
    <body>
        {% include navbar.html %}

        <h1 class="header">
            Code
        </h1>
        <p class="header">
            Some code pet projects, or articles about technical subjects.
        </p>

        <ul class="content">
            {% for post in site.code %}
            <li class="list-single">
                ({{ post.date | date_to_string }})
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                <span class="tag-small">
                    {{ post.tags[0] }}
                </span>
                <p style="padding-left:30px">{{ post.excerpt }}</p>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
