doctype
html
    include head
    
    body.white-text
        include nav
        include banner

        div.all-container
            include profile
            include projects
            include education
            include experience

        include footer