div.education-container
    h1 Education
    hr.l-only
    div.row
        div.col.m0.l1
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2019-2020
                    span.card-title Experience 01
                    p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.    
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2019-2020
                    span.card-title Experience 02
                    p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.        
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2019-2020
                    span.card-title Experience 03
                    p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
    hr.l-only
    div.row
        div.col.m0.l2
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2019-2020
                    span.card-title Experience 04
                    p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.    
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2019-2020
                    span.card-title Experience 05
                    p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.        
        div.col.m12.l3
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2019-2020
                    span.card-title Experience 06
                    p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
        