div.profile-container#profile
    div.row
        div.col.m12.l6
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2017-2015
                    span.card-title Computer Science
                    p University of Buens Aires. The study of abstract concepts about Mathematics and Computer relationship. Fascinating subjects, but too abstract. Didn't finish.    
        div.col.m12.l6
            div.card.black.white-text
                div.card-content.white-text
                    div.dot
                    i 2014-2013
                    span.card-title Communication Sc.
                    p University of Saint Andrew's @ Buenos Aires. Understanding human communication, using traditional and modern communication tools. Interesting subjects, but too soft. Didn't finish.    